.element {
}

.div01 {
  background-color: lightblue;
}

.div02 {
  background-color: lightcoral;
}

.div03 {
  background-color: lightgray;
}

.div04 {
  background-color: lightseagreen;
}

.text {
  margin: 0px;
}
